<%- include('../partials/header') %>

<!--<div class="container center">
    <h2>All <%= username %>'s Events</h2>
    <hr>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Venue</th>
                <th scope="col">DateTime</th>
                <th scope="col">Interested?</th>
                
            </tr>
        </thead>
        <tbody>
            <% places.forEach((p) => { %>
                <tr>
                    <td scope="row"><a href="/events/index/<%= e.id %>"><%= e.type %></a></td>
                    <td scope="row"><%= e.type %></td>
                    <td scope="row"><%= e.venue %></td>
                    <td scope="row"><%= e.datetime_utc</td>
                    <td scope="row"><%= Interested ? 'Y' : 'N' %></td>
                
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer') %>