<%- include('../partials/header') %>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <% events.forEach(function(e) { %>
    <div class="col">
      <div class="card custom-card">
        <img src="<%= e.performers[0].image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= e.type %></h5>
          <p class="card-text">Location: <%= e.venue.name_v2 %> </p>
          <p class="card-text"> <%= e.venue.address %> </p>
          <p class="card-text"> <%= e.venue.state %> </p>
          <a href="<%= e.venue.url %>" class="btn btn-primary">Click here for more info!</a>
          <button class="heart-btn" data-event-id="<%= e.id %>">&#10084;</button>
        </div>
      </div>
    </div>
  <% }) %>
</div>

<%- include('../partials/footer') %>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    
    document.addEventListener('DOMContentLoaded', function() {
      const heartButtons = document.querySelectorAll('.heart-btn');
  
      heartButtons.forEach(function(heartButton) {
        heartButton.addEventListener('click', function() {
          const eventId = this.dataset.eventId;
  
          axios.post(`/events/toggle-like-event/${eventId}`)
          .then(response => {
            console.log('Event liked:', response.data);
            // Optionally update UI to indicate the event is liked
          })
          .catch(error => {
            console.error('Error liking event:', error);
          });
      });
    });
  });
          
  </script>