<%- include('../partials/header') %>
<div class="center-cards">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% if(events && events._embedded && Array.isArray(events._embedded.events) && events._embedded.events.length > 0) { %>
      <% events._embedded.events.forEach(function(event) { %>
        <div class="col">
          <div class="card custom-card">
            <img src="<%= event.images[0].url %>" class="card-img-top" alt="event-image">
            <div class="card-body">
              <h5 class="card-title"><%= event.name %></h5>
              <h6 class="card-title"><%= event.dates.start.localDate %></h6>
              <h6 class ="card-text"><%= event.dates.start.localTme %></h6>
              <h6 class ="card-text"><%= event._embedded.venues[0].name %></h6>
              <h6 class ="card-text"><%= event._embedded.venues[0].address.line1 %></h6>
              <p class="card-text"></p>
          <!--Takes use to another page for more details-->
       
           <form action="/events/add/" method="POST">
            <h5>Add this to your events</h5>
              <fieldset>
    
                <input hidden type="text" name="name" value="<%= event.name %>">
                <input hidden type="text" name="localDate" value="<%= event.dates.start.localDate %>">
                <input hidden type="text" name="localTime" value="<%= event.dates.start.localTime %>">
                <input hidden type="text" name="venueName" value="<%= event._embedded.venues[0].name %>">
                <input hidden type="text" name="venueAddress" value="<%= event._embedded.venues[0].address.line1   %>">
                <input hidden type="text" name="eventImage" value="<%= event.images[0].url %>">
                <input hidden type="text" name="eventImage" value="<%= event.images[1].url %>">
                <input hidden type="text" name="eventUrl" value="<%= event.url %>">
                
                <label for="interested">Interested</label>
                <input type="checkbox" name="interested" checked>
                <label for="attending">Attending</label>
                <input type="checkbox" name="attending" checked>
              </fieldset>
              <input type="submit" class="btn btn-success" value="Add to list ">

           </form>
        </div>
      </div>
    </div>
  <% }) %>
  <% } %>
  </div>
</div>


<%- include('../partials/footer') %>
