<%- include('../partials/header') %>

<div class="container center">
    <h2>All <%= username %>'s Events</h2>
    <hr>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
               
                <th scope="col">Event name</th> 
                <th scope="col">Date</th>  
                <th scope="col">Time</th> 
                <th scope="col">Venue Name</th>
                <th scope="col">Venue Address</th>
                <th scope="col">Interested</th> 
                <th scope="col">Attending</th>            
                
            </tr>
        </thead>
        <tbody>
            <% events.forEach((e) => { %>
        
                <tr>
                <!--Pulling date from Mongo DB EventsApp-->
                    <td scope="row"><a href="/events/mine/<%= e.id %>"><%= e.name %></a></td>
                    <td scope="row"><%= e.localDate %></td>
                    <td scope="row"><%= e.localTime %></td>
                    <td scope="row"><%= e.venueName %></td>
                    <td scope="row"><%= e.venueAddress %></td>
                    <td scope="row"><%= e.interested ? 'Y' : 'N' %></td>
                    <td scope="row"><%= e.attending ? 'Y' : 'N' %> </td>
                    
                    <!-- <div-btn class="group">
                        <form  action="/events/delete/<%= e.type %>?_method=DELETE" method="POST">
                        <input type="submit" class="btn btn-danger" value="delete this event"></form>
                    </div-btn> -->
                    </td>       
                
                
                </tr>
            <% }) %>
           
        </tbody>
    </table>
</div>

<%- include('../partials/footer') %>

