<%- include('../partials/header') %>

<div class="container center">
    <h2>All <%= username %>'s Events</h2>
    <hr>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
               
                <th scope ="col">Event</th> 
                <th scope="col"></th>  
                <th scope="col">Interested</th>                 
                <th scope="col" class="remEv">Remove Event</th>
                
                
            </tr>
        </thead>
        <tbody>
            <% events.forEach((e) => { %>
                <% const Interested = true; %>
                <tr>
                    <td scope="row"><a href="/events/index/<%= e.id %>"></a></td>
                    <!--other event objects were not readable, it appears the info was saved into a type array in Mongo-->
                    <td scope="row"><%= e.type %></td>
                    <td scope="row"><%= Interested ? 'Y' : 'N' %></td>
                    <td scope="row">
                        <form method="DELETE" action="/events/mine/<%= e._id %>">
                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                
                
                </tr>
            <% }) %>
          
        </tbody>
    </table>
</div>

<%- include('../partials/footer') %>